@charset "utf-8";
body {
    background-color: #000000;
}
.navbar-nav.ml-auto .nav-item.active .nav-link {
    font-weight: 700;
}
.navbar-nav.ml-auto .nav-item .nav-link {
    color: #FFFFFF;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.btn-boton-1 {
    color: #FFFFFF;
    font-family: 'Catamaran', sans-serif;
	font-weight: 500;
    font-size: 20px;
    background-color: #000000;
    border-radius: 15px;
    width: 166px;
    height: 48px;
    text-align: center;
}
.btn-boton-1:hover {
    font-family: 'Catamaran', sans-serif;
    background: #FFFFFF;
    color: #000000;
    transition: all ease-in-out .3s;
}
.btn-boton-2 {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
	font-weight: 500;
    font-size: 20px;
    background-color: #EE9D00;
    border-radius: 15px;
    width: 166px;
    height: 48px;
    text-align: center;
}
.btn-boton-2:hover {
	font-family: 'Catamaran', sans-serif;
    background: #FFFFFF;
    color: #000000;
    transition: all ease-in-out .3s;
}
.fondo {
    background-color: #00E3D5;
    width: 100%;
    height: 88px;
}
h2 {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    font-size: 48px;
}
h3 {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 42px;
}
h4 {
    color: #EE9D00;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
h5 {
    color: #EE9D00;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
h6 {
    color: #EE9D00;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
p {
    color: #000000;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.p-blanco-1{
    color: #FFFFFF;
}
.p-blanco-2 {
    color: #FFFFFF;
    font-size: 18px;
}
.h3-naranja {
	color: #EE9D00;
}
.form-group .icono .fa-regular.fa-user, .form-group .icono .fa-solid.fa-phone, .form-group .icono .fa-regular.fa-address-card, .form-group .icono .fa-regular.fa-envelope, .form-group .icono .fa-regular.fa-calendar, .form-group .icono .fa-regular.fa-clock, .form-group .icono .fa-regular.fa-comment, .form-group .icono .fa-regular.fa-calendar, .navbar-nav.ml-auto .nav-item.active .nav-link {
    color: #EE9D00;
}
.carousel-item .carousel-caption h2 {
    text-align: left;
    width: 546px;
    height: 121px;
    position: absolute;
    top: -380px;
	right: 460px
}
.carousel-item .carousel-caption .derecha {
    left: 470px;
}
.carousel-item .carousel-caption .p-negro, .carousel-item .carousel-caption .p-negro-derecha {
    width: 546px;
    height: 84px;
    text-align: justify;
    top: -250px;
	right: 460px;
    position: absolute;
}
.carousel-item .carousel-caption .p-negro-derecha {
	left: 470px;
}
.carousel-item .carousel-caption .btn.btn-boton-1 {
	position: absolute;
	top: -150px;
	right: 840px
}
.carousel-item .carousel-caption .btn.btn-boton-1.local-derecha {
	left: 470px;
}
#carouselExampleIndicators1 .carousel-indicators .active {
    background-color: #000000;
	width: 24px;
	height: 24px;
	border-radius: 100%
}
#carouselExampleIndicators1 .carousel-indicators li {
    background-color: #727272;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	margin: 17px;
	transition-property: all;
	transition-duration: 0.6s;
	transition-delay: ease-in-out;
}
#carouselExampleIndicators1 .carousel-indicators {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fondo .container .row {
	position: relative;
	top: 13px;
}
.row .col-11 h3 {
    position: relative;
    top: 6px;
    right: 10px;	
}
#servicios .container.text-center #slider-servicios {
	flex-wrap: nowrap;
	animation-name: slider-servicios;
	animation-duration: 20s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#servicios .container.text-center {
    position: relative;
    top: 30px;
    overflow: hidden;
    height: 600px;
}@keyframes slider-servicios {
    0% {
    transform: translate(0)
    }
    11% {
    transform: translate(0)
    }
    16.5% {
    transform: translate(-33.3%)
    }
    27.5% {
    transform: translate(-33.3%)
    }
    33% {
    transform: translate(-66.6%)
    }
    44% {
    transform: translate(-66.6%)
    }
    49.5% {
    transform: translate(-99.9%)
    }
    60.5% {
    transform: translate(-99.9%)
    }
    66% {
    transform: translate(-133.2%)
    }
    77% {
    transform: translate(-133.2%)
    }
    82.5% {
    transform: translate(-167.5%)
    }
    93% {
    transform: translate(-167.5%)
    }
    98.5% {
    transform: translate(-200%)
    }
    100% {
    transform: translate(-200%)
    }
}
#slider-servicios .col-md-4.col-sm-6 img {
    border-radius: 8.3px;
}
#slider-servicios .col-md-4.col-sm-6 .p-blanco-1 {
	position:relative;
	top: 15px;
}
#servicios .container.text-center .btn.btn-boton-2 {
	position: relative;
	top: 20px;
}
#historia .container .row .col-md-6 {
    top: 40px;
    height: 360px;
}
#historia .row .col-md-6 img {
	border-radius: 10px;
}
#historia .row .col-md-6 .p-blanco-1 {
    text-align: justify;	
}
#historia a p.enlace {
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
	font-weight: 500;
    color: #EE9D00;
}
#galeria .container.text-center {
	height: 1010px;
	position: relative;
	top: 10px;
}
#galeria .row .col-md-4 img {
    border-radius: 10px;
    margin-top: 30px;
}
#galeria .container.text-center .btn.btn-boton-2 {
	position: relative;
	top: 30px;
}
#menu .container .row .col-md-4.col-sm-6 {
	position:relative;
	top: 25px;
}
#menu .container {
	height: 585px
}
#menu .container .row .btn.btn-boton-2 {
    position: relative;
    top: 35px;
}
#slider-comentarios .col-md-6 img {
	border-radius: 100%
}
#comentarios .container.text-center #slider-comentarios {
	flex-wrap: nowrap;
	animation-name: slider-comentarios;
	animation-duration: 35s;
	animation-delay: 1;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#comentarios .container.text-center {
    position: relative;
    top: 60px;
    overflow: hidden;
    height: 550px;
}
@keyframes slider-comentarios {
    0% {
    transform: translate(0)
    }
    11% {
    transform: translate(0)
    }
    16.5% {
    transform: translate(-50%)
    }
    27.5% {
    transform: translate(-50%)
    }
    33% {
    transform: translate(-100%)
    }
    44% {
    transform: translate(-100%)
    }
    49.5% {
    transform: translate(-150%)
    }
    60.5% {
    transform: translate(-150%)
    }
    66% {
    transform: translate(-200%)
    }
    77% {
    transform: translate(-200%)
    }
    82.5% {
    transform: translate(-250%)
    }
    93% {
    transform: translate(-250%)
    }
    98.5% {
    transform: translate(-300%)
    }
    100% {
    transform: translate(-300%)
    }
}
#reserva .container .p-blanco-1 {
	position:relative;
	top: 20px;
}
#reserva .col-lg-6.col-md-12 .form-group label, .col-12 .form-group .mensaje {
	display: none;
}
#reserva .col-12 .form-group textarea {
    width: 100%;
    height: 137px;
    border-radius: 15px;
    border-width: 2px;
    border-color: #EE9D00;
    background-color: #000000;
}
#reserva .col-12 .form-group .check {
    color: #FFFFFF;
	position: relative;
	left: 3px;
}
#reserva .row .col-md-6 iframe {
	border-radius: 20px;
	height: 520px;
	width: 546px;
}
#reserva .col-lg-6.col-md-12 .form-group #nombres, .col-lg-6.col-md-12 .form-group #apellidos, .col-lg-6.col-md-12 .form-group #telefono, .col-lg-6.col-md-12 .form-group #dni, .col-lg-6.col-md-12 .form-group #correo, .col-lg-6.col-md-12 .form-group #asistentes, .col-lg-6.col-md-12 .form-group #fecha, .col-lg-6.col-md-12 .form-group #hora {
    border-radius: 15px;
    border-width: 2px;
    border-color: #EE9D00;
    background-color: #000000;
	margin-top: 10px;
}
#reserva .container .row .col-md-6 {
	position: relative;
	top: 20px;
}
#servicios {
	position:relative;
	top: 30px;
}
#historia {
	position:relative;
	top: 40px;
}
#galeria {
	position:relative;
	top: 60px;
}
#menu {
	position:relative;
	top: 80px;
}
#comentarios {
	position:relative;
	top: 100px;
}
#reserva {
	position:relative;
	top: 150px;
}
#contacto {
    position: relative;
    top: 190px;
}
body footer {
	position:relative;
	top:250px;
}
.col-lg-6.col-md-12 .form-group input {
	padding-left: 40px;
}
.col-lg-6.col-md-12 .form-group .icono {
	position: absolute;
	top: 17px;
	left: 30px;
}
.col-12 .form-group .icono {
	position: absolute;
	top: 11px;
	left: 30px;
}
#slider-comentarios .col-md-6 .p-blanco-1 {
    position: relative;
    top: 30px;
}
#slider-comentarios .col-md-6 img {
	position:relative;
	top:10px;
}
#contacto .container.text-center .row {
	position: relative;
	top: 10px;
}
#contacto .container.text-center .btn.btn-boton-2 {
	position: relative;
	top: 20px;
	left: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.row .col-lg-3.col-md-6 ul.informacion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row .col-lg-3.col-md-6 ul.contactanos {
    text-align: justify;
	position: relative;
	left: 60px;
}
.row .col-lg-3.col-md-6 ul.redes {
    text-align: justify;
	position: relative;
	left: 43px;
}
#celular, #gmail, #ubicacion, #facebook, #instagram, #whatsapp {
	color:#EE9D00;
	right: 265px;
}
#celular, #facebook {
	position: absolute;
	top: 6px;
}
#gmail, #instagram {
	position: absolute;
	top: 52px;
}
#ubicacion, #whatsapp {
	position: absolute;
	top: 97px;
}
.row .col-12 .btn.btn-boton-2 {
}

@media (max-width:1200px) and (min-width: 768px){
	
	p{
    font-size: 18px;	
	}
	#slider-servicios .col-md-4.col-sm-6 img {
	width:180px;
	height: 180px;
	}
	h4 {
    font-size: 24px;
	}
.navbar-nav.ml-auto .nav-item.active .nav-link {
	font-size: 15px;
}
.navbar-nav.ml-auto .nav-item .nav-link {
	font-size: 15px;
}
.navbar.navbar-expand-md.navbar-light .navbar-brand img {
	width: 63px;
	height: 86px;
}
.container .navbar.navbar-expand-md.navbar-light {
	height: 114px;
}
.container .navbar.navbar-expand-md.navbar-light .navbar-brand {
}
#servicios .row .col-1.text-right img {
	height: 30px;
}
#historia .row .col-1.text-right img {
	height: 30px;
	width: 33px;
}
#menu .row .col-1.text-right img {
	height: 30px;
}
#reserva .row .col-1.text-right img {
	height: 30px;
}
#galeria .row .col-1.text-right img {
	height: 30px;
	width: 31px;
}
#comentarios .row .col-1.text-right img {
	height: 30px;
}
#servicios .fondo .container {
	left: 0;
	right: 60px;
}
	h3{
		font-size: 20px;
	}
	.fondo {
		height:50px;
	}
	.fondo h3 {
		left:0;
	}
	#historia img {
		width: 326px;
	}
#servicios {
	height: 550px;
}
.row .col-md-6 .p-blanco-1 {
	font-size: 15px;
}
#historia p{
	font-size: 15px;
}

#historia {
	height: 300px;
}
#galeria img {
	width: 216px;
}
.btn-boton-2{
	width: 166px;
	height: 45px;
	font-weight: 500px;
    font-size: 18px;
}
	#galeria {
		height: 730px;
	}
	#menu{
		height: 780px;
	}
#reserva .row .col-md-6 iframe {
	height: 466px;
	width: 336px;

}
#reserva .col-lg-6.col-md-12 .form-group #nombres, .col-lg-6.col-md-12 .form-group #apellidos, .col-lg-6.col-md-12 .form-group #telefono, .col-lg-6.col-md-12 .form-group #dni, .col-lg-6.col-md-12 .form-group #correo, .col-lg-6.col-md-12 .form-group #asistentes, .col-lg-6.col-md-12 .form-group #fecha, .col-lg-6.col-md-12 .form-group #hora {
    border-radius: 9.25px;
    border-width: 1.25px;
    border-color: #EE9D00;
    background-color: #000000;
	margin-top: 3px;
	height: 29px;
}
#reserva .col-12 .form-group textarea {
    width: 100%;
    height: 83px;
    border-radius: 9.25px;
    border-width: 1.25px;
    border-color: #EE9D00;
    background-color: #000000;
}
#reserva .col-12 .form-group .check {
    color: #FFFFFF;
	position: relative;
	left: 3px;
}
.col-lg-6.col-md-12 .form-group .icono {
	position: absolute;
	top: 6px;
	left: 30px;
}
.col-12 .form-group .icono {
	position: absolute;
	top: 11px;
	left: 30px;
}
#reserva .row .col-12 .btn.btn-boton-2 {
	left:0;
	right: 0;
	position: relative;
	left: 180px;
}
	#contacto h3 {
		font-size: 42px;
	}
#contacto .container.text-center .btn.btn-boton-2 {
	position: relative;
	right: 1200px;
}


	
	
	
	
	
	
}
@media (min-width:767px) and (min-width: 576px){	
ext-center #slider-servicios .col-md-4.col-sm-6 {
	width: 50%
}
}
@media (max-width:575px){
	.container.text-center #slider-servicios .col-md-4.col-sm-6 {
	width: 50%
}
}
